extends base

block main
  - var action = '/users'
  if (!user.isNew)
    - action += '/'+user.id
  
  form(action=action, method='post')
    if(!user.isNew)
      input(type='hidden', name='_method', value='put')

    .form-group
      label Name
      input.input(name='name', type='text', value=user.name)
  
    .form-group
      label Username
      input(name='username', type='text', value=user.username)

    .form-group
      label Email
      input(name='email', type='text', value=user.email)
      
    .form-group
      label Change password
      input(name='password', type='password', placeholder='Type a new one to update')
      
    .form-group
      button.btn.btn-primary(type='submit') Save user
