extends ../layout

block content
  .container
    .row
      .col-8
        block main
      .col-4
        .well.sidebar-nav
          ul.nav.nav-list
            li
              a(href='/users/') List users
            li
              a(href='/users/new') New user


  
    
