extends base

block title
  | Manage demos

block main
  h2 Manage demos

  if message != ''
    .alert
      button.close(data-dismiss="alert", href="#") &times;
      | #{message}

  table.table.table-striped
    tr
      th Name
      th Count
      th
    each demo in all_demos
      tr
        td= .name
        td= .count
        
        td
          a(href='/demos/#{demo.id}/edit') edit
          |  | 
          a(href='/demos/#{demo.id}/destroy', onclick='return confirm("Are you sure you want to delete this?") ? true : false') delete
